.membersPage {
  padding: 0rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.75);
  border-radius: 1rem;
  box-shadow: 0 0 0.6rem rgba(142, 142, 142, 0.1);
  backdrop-filter: blur(0.25rem);
  -webkit-backdrop-filter: blur(0.5rem);
  border: 0.25rem solid rgba(255, 255, 255, 0.3);
}

.membersGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
