.researchPage {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.researchSection {
  display: flex;
  flex-direction: column;
  align-items:center;
  padding-bottom:1rem;
}

.sectionImage {
  padding: 1rem;
  max-width: 48rem;
}

.sectionInfo p {
  margin: 0;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

@media (max-width: 48rem) {

  .sectionInfo,
  .sectionImage {
    max-width: 100%;
  }
  .sectionInfo p {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
