.sectionedPage {
  padding: 0rem 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.75);
  border-radius: 1rem;
  box-shadow: 0 0 0.6rem rgba(142, 142, 142, 0.1);
  backdrop-filter: blur(0.25rem);
  -webkit-backdrop-filter: blur(0.5rem);
  border: 0.25rem solid rgba(255, 255, 255, 0.3);
}

.pageSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-bottom:1rem; */
}

.sectionInfo {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  width:100%
}

.sectionHeader {
  text-align: left; 
  width: 100%; 
  background: none; 
  border: none; 
  padding: 0; 
  cursor: pointer; 
  margin-top: 1rem;
}

.sectionHeaderIndicator {
  font-family: var(--font-mono);
  margin-right: 0.5rem;
  align-self: center;
  font-size: 1rem;
}

.sectionHeaderTitle {
  display: inline-block; 
  white-space: pre-wrap; 
  margin-left: 0.5rem; 
}

.uLinks {
  font-size: 1.5rem;
}

@media (max-width: 30rem) {
  .sectionInfo {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .uLinks {
    font-size: 1.3rem;
  }
}


