.header {
  background-color: rgb(118, 0, 0);
  backdrop-filter: blur(0.625rem);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0.625rem 1.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
}

.logo {
  margin-right: auto; /* Ensures logo is aligned to the left */
}

.site-title {
  font-size: 3rem;
  color: #ffffff;
  text-decoration: none;
  font-family: var(--font-sans);
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-toggle {
  display: flex;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  font-size: var(--font-hg);
  user-select: none; /* Prevent text selection */
}

