.header {
  background-color: rgba(118, 0, 0, 0.9);
  backdrop-filter: blur(0.625rem);
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0.625rem 1.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
}

.logo {
  margin-right: auto; 
}

.site-title {
  margin-bottom: auto;
  font-size: 2.4rem;
  color: #ffffff;
  text-decoration: none;
  font-family: var(--font-sans);
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.1s ease;
  text-transform: uppercase;
  display: inline-block;
  padding-right: 0.5rem;
}

.site-title:hover {
  transform: scale(1.02);
  color: #ffdddd;
}

.menu-toggle {
  display: inline-block;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  font-size: var(--font-hg);
  user-select: none;
  font-family: var(--font-mono);
  transition: all 0.1s ease;
}

.menu-toggle:hover {
  transform: scale(1.5);
}


