:root {
  --border-radius: 0.25rem;
  --color-text: #333;
  --color-primary: #760000;
  --color-code-bg: #e0e0e0;
  --color-code: #525252;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-hg: 1.5rem;
  --font-lg: 1.25rem;
  --font-md: 1rem;
  --font-sm: 0.75rem;
  --font-sx: 0.5rem;
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 1.1;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 1rem;
  --space-4: 1.5rem;
  --space-5: 2rem;
  --space-6: 4rem;
  --size-content: 54rem;
  --size-gutter: var(--space-5);
  --size-gap: var(--space-6);
  --sidebar-width: 10.5rem; /* max width of the sidebar + 3 * rootFontSize */
  --header-height: 4.850625rem; 
  --max-navheader-width: 76.875rem; /*  navHeaderRef.current.offsetWidth + siteTitle.offsetWidth + 4 * rootFontSize   */
}

html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: var(--font-md);
  line-height: var(--line-height-normal);
  overflow: auto;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  font-family: var(--font-sans, sans-serif);
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
}

a {
  background-color: transparent;
  color: var(--color-primary);
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.125rem;
}

a:active,
a:hover {
  outline-width: 0;
  text-decoration: none;
}

abbr[title] {
  border-bottom: 0.0625rem dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}

b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
  line-height: var(--line-height-dense);
  letter-spacing: -0.01rem;
}

h1 > b {
  color: var(--color-primary);
}

img {
  border-style: none;
  max-width: 100%;
}

code,
kbd,
pre,
samp {
  font-family: var(--font-mono);
  font-size: 1rem;
  line-height: inherit;
}

hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: calc(var(--space-4) - 0.0625rem);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 0.0625rem;
}

* {
  box-sizing: inherit;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

hgroup,
img,
figure,
fieldset,
ul,
ol,
dl,
dd,
p {
  margin: 0;
  padding: 0;
  margin-bottom: var(--space-4);
}

ul,
ol {
  margin-left: var(--space-4);
  list-style-position: outside;
  list-style-image: none;
}

pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: var(--space-4);
  font-size: 0.875rem;
  line-height: var(--line-height-normal);
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: var(--border-radius);
  overflow: auto;
  word-wrap: normal;
  padding: var(--space-4);
}

b,
strong,
dt,
th {
  font-weight: bold;
}

li {
  margin-top: calc(var(--space-4) / 2);
  margin-bottom: calc(var(--space-4) / 2);
}

ol li,
ul li {
  padding-left: 0;
}

li > ol,
li > ul {
  margin-bottom: calc(var(--space-4) / 2);
  margin-left: var(--space-4);
  margin-top: calc(var(--space-4) / 2);
}

blockquote *:last-child {
  margin-bottom: 0;
}

li *:last-child {
  margin-bottom: 0;
}

p *:last-child {
  margin-bottom: 0;
}

li > p {
  margin-bottom: calc(var(--space-4) / 2);
}

p {
  max-width: 680px;
}

code {
  font-size: 0.875rem;
}

kbd {
  font-size: 0.875rem;
}

samp {
  font-size: 0.875rem;
}

abbr {
  border-bottom: 0.0625rem dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

acronym {
  border-bottom: 0.0625rem dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

tt,
code {
  background-color: var(--color-code-bg);
  border-radius: var(--border-radius);
  color: var(--color-code);
  font-family: var(--font-mono);
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
  word-break: normal;
}

pre code {
  background: none;
}

code:before,
code:after,
tt:before,
tt:after {
  content: "\00a0";
  letter-spacing: -0.2rem;
}

pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: none;
}

.main-content {
  margin-top: auto;
  padding: 3rem;
  max-width: var(--size-content);
  margin-left: auto;
  margin-right: auto;
}

/* body.menu-open .main-content {
  margin-right: var(--sidebar-width); 
} */

.footer {
  display: flex;
  justify-content: center;
  padding: 0.75rem;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  font-size: var(--font-sm);
}

/* body.menu-open .footer {
  margin-right: var(--sidebar-width);
} */

.footer p {
  margin: 0;
  color: #555;
}
