.navHeader {
  display: flex;
}

.navHeader .navList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navHeader .navList li {
  margin-left: calc(0.15vw - 0.05rem);
  margin-right: calc(0.15vw - 0.05rem);
  margin-bottom: 0;
  margin-top: 0;
}

.navHeader .navList li a {
  text-decoration: none;
  color: #ffffff;
  font-size: min(2rem, calc(0.22rem + 3 * 0.5vw));
  transition: all 0.05s ease-in-out;
  display: inline-block;
  font-variant: small-caps;
  text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.4);
  padding-bottom: 0.15rem;
  padding-top: 0rem;
  padding-left: calc(0.18rem + 0.2vw);
  padding-right: calc(0.18rem + 0.2vw);
  border-radius: 0.35rem;
  position: relative;
}

.navList li a:hover,
.navList li.activeLink a {
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 0.05rem 0.1rem rgba(255, 255, 255, 0.1);
}

.navList li.activeLink a:hover {
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
}


.navList li a .textContent {
  display: inline-block;
  transition: transform 0.05s ease-in-out;
}

.navList li a:active .textContent {
  transform: scale(0.8);
}

.navList li a:active,
.navList li.activeLink a:active {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0.05rem 0.1rem rgba(0, 0, 0, 0.1);
}

.navSide {
  position: fixed;
  top: var(--header-height, 4.25rem);
  right: 0;
  transform: translateX(calc(var(--sidebar-width, 10rem) * 1)); /* Hidden by default */
  height: 100%;
  width: var(--sidebar-width, 10rem);
  background-color: rgba(82, 4, 4, 0.727);
  backdrop-filter: blur(0.2rem);
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 0.5rem;
  padding-right: 1.25rem;
  padding-bottom: 4.25rem;
  padding-left: 1.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transition: transform 0.3s ease;
  z-index: 999;
}

@media (max-height: 30rem) {
 .navSide {
    top: 2rem;
    padding-bottom: 2.25rem;
  }
}

.navSide.open {
  transform: translateX(0)
}

.navSide .navList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navSide .navList li {
  margin: 0.625rem 0;
}

.navSide .navList li a {
  text-decoration: none;
  color: #ffffff;
  transition: all 0.05 ease-in-out;
  display: inline-block;
  font-variant: small-caps;
  font-size: 1.5rem;
  text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.4);
  padding-bottom: 0.15rem;
  padding-top: 0rem;
  padding-left: calc(0.18rem + 0.2vw);
  padding-right: calc(0.18rem + 0.2vw);
  border-radius: 0.35rem;
}

/* .nav-side .nav-list li a:hover {
  transform: translateX(-0.4rem);
  text-shadow: 0.2rem 0 0.8rem rgba(0, 0, 0, 0.3);
} */

.navSide a[tabindex="-1"] {
  pointer-events: none;
}

