.nav-header {
  display: flex;
}

.nav-header .nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-header .nav-list li {
  margin-left: calc(0.09rem + 0.4vw);
  margin-right: calc(0.09rem + 0.4vw);
  margin-bottom:-0.3rem;
  margin-top:-0.3rem;
}

.nav-header .nav-list li a {
  text-decoration: none;
  color: #ffffff;
  font-size: min(2rem, calc(0.22rem + 3 * 0.5vw));
  transition: transform 0.05s ease, text-shadow 0.05s ease;
  border-bottom: 2px solid transparent;
  display: inline-block;
  font-variant: small-caps;
  text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.4);
}

.nav-header .nav-list li a:hover {
  /* color: #ffdddd; */
  transform: scale(1.06);
  text-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.3);
}

.nav-side {
  position: fixed;
  top: var(--header-height, 4.25rem);
  right: 0;
  transform: translateX(calc(var(--sidebar-width, 10rem) * 1)); /* Hidden by default */
  height: 100%;
  width: var(--sidebar-width, 10rem);
  background-color: rgba(82, 4, 4, 0.727);
  backdrop-filter: blur(0.2rem);
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 0.5rem;
  padding-right: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transition: transform 0.3s ease;
  z-index: 999;
}

.nav-side.open {
  transform: translateX(0)
}

.nav-side .nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-side .nav-list li {
  margin: 0.625rem 0;
}

.nav-side .nav-list li a {
  text-decoration: none;
  color: #ffffff;
  transition: transform 0.1s ease, text-shadow 0.1s ease;
  display: inline-block;
  font-variant: small-caps;
  font-size: 1.5rem;
  text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.4);
}

.nav-side .nav-list li a:hover {
  /* color: #ffdddd; */
  transform: translateX(-0.4rem);
  text-shadow: 0.2rem 0 0.8rem rgba(0, 0, 0, 0.3);
}

.nav-side a[tabindex="-1"] {
  pointer-events: none;
}
